{% extends 'copo/base_2col.html' %}


{% load staticfiles %}
{% load web_tags %}
{% load html_tags %}

{% block stylesheet_block %}

    <style>
        .row {
            margin-left: 0 !important
        }

        .steps li span {
            margin-left: 10px !important;
        }
    </style>

{% endblock %}


{% block title_block %} COPO People {% endblock %}

{% block tagline_block %}


{% endblock %}


{% block browse_header_block %}
    {% csrf_token %}
    <div hidden id="hidden_attrs">
        <!-- hidden attributes  -->
        <input type="hidden" id="nav_component_name" value="submission"/>
        <input type="hidden" id="custom_repo_id" value=""/>
        <input type="hidden" id="dataset_id"/>
    </div>
{% endblock %}

{% block page_tile %}
    {% include "component_navbar.html" %}
{% endblock page_tile %}

{% block content %}

    {#    test#}

    {#    test ends#}

    <!-- getting started section -->
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-offset-0 page-welcome-message" style="display: none;">
            <div class="copo-webui-popover">
                <div class="webui-popover-inner">
                    <h3 class="copo-webui-popover-title">Submissions - Getting started</h3>
                    <div class="copo-webui-popover-content">
                        <div class="webpop-content-div">
                            The submission component of a profile displays submissions created (conclusive or pending)
                            within a profile.<br/><br/>To create a submission entry, you have to first go through
                            the process of datafile description (under the datafile component).
                            A submission entry is created when the user completes the task of metadata attribution
                            (within the description wizard), and selects to initiate submission of the
                            described datafiles.
                            <br/><br/>
                            <div><strong>Quick Tour: </strong>To explore the various
                                controls available on this page, click the
                                <button class="circular mini ui icon orange button">
                                    <i class="icon lightbulb"></i>
                                </button>
                                icon.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- people table -->
    <div id="component_table_loader" class="col-sm-5 col-md-5 col-lg-5 col-xs-offset-5"
         data-copo-tour-id="submission_table"></div> <!-- div used by the quick tour agent -->
    <div class="table-parent-div">
        <table id="submission_table" class="ui celled table copo-noselect-table copo-noborders-table"
               cellspacing="0" width="100%">
        </table>
    </div>

    <div class="modal fade" id="repo_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Submission Details</h4>
                </div>
                <div class="modal-body" id="repo_modal-body">
                    <!-- RADIO BUTTON TO CHOOSE BETWEEN EXISTING AND NEW REPO -->


                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="save_inspection_button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block help_section %}


{% endblock %}


{% block js_block %}
    <script src="{% static 'copo/js/generic_handlers.js' %}"></script>
    <script src="{% static 'copo/js/generic_handlers_ext2.js' %}"></script>
    <script src="{% static 'copo/js/copo_form_handlers.js' %}"></script>
    <script src="{% static 'copo/js/copo_submission.js' %}"></script>
    <script src="{% static 'copo/js/repository_inspection.js' %}"></script>
{% endblock %}
