{% extends 'copo/base_1col.html' %}

{% load staticfiles %}
{% load web_tags %}

{% block stylesheet_block %}
    <link rel="stylesheet" href="{% static 'copo/css/copo/browse_style.css' %}" xmlns="http://www.w3.org/1999/html">

    <link rel="stylesheet" type="text/css" href="{% static "copo/annotator.min.css" %} "/>
    <link rel="stylesheet" href="{% static 'copo/css/copo/copo_ontology_styles.css' %}"
          xmlns="http://www.w3.org/1999/html">
    <style>
        body {
            background-color: #f4f4f4;
        }

        #text-area {
            min-height: 80%;
            border: 1px solid #dcdcdc;
            overflow-y: scroll;
            background-color: white;
            padding: 20px
        }
        #annotation-area{
            height: 80%;
            border: 1px solid #dcdcdc;
            overflow-y: scroll;
            background-color: white;
            padding: 20px
        }

        .annotator-listing {
            height: 300px;
            overflow-y: scroll
        }

        .list_el {
            padding: 10px
        }

        #search_results {

            background-color: white;
            border: 1px solid #dcdcdc;
        }

        .annotator-filter {

        }
        #copo-global-nav{
            visibility: hidden;
        }
    </style>

{% endblock %}






{% block title_block %} Index {% endblock %}

{% block tagline_block %}



{% endblock %}

{% block page_banner %}



{% endblock %}


{% block breadcrumb_block %}
    <ol class="breadcrumb">
        <li class="active"><a href="{% url 'copo:index' %}">Home</a></li>

    </ol>
{% endblock %}

{% block browse_header_block %}


{% endblock %}

{% block content %}
    {% csrf_token %}

    <input type="hidden" id="file_id" value="{{ file_id }}"/>
    <input type="hidden" id="file_name" value="{{ file_name }}"/>
    <input type="hidden" id="annotation_type" value="text"/>
    <input type="hidden" id="file_type" value="{{ file_type }}"/>

    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9">
            <div id="text-area">
                {{ html | safe }}
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3" >
            <h4 class="h4" style="margin-top:1em">Annotations</h4>
            <div id="annotation-area"></div>
        </div>
    </div>





{% endblock %}


{% block js_block %}

    <script type="text/javascript" src="{% static "copo/annotator-2.0.0-alpha.3/pkg/annotator.min.js" %}"></script>
    <script type="text/javascript" src="{% static "copo/annotator-2.0.0-alpha.3/pkg/annotator.document.js" %}"></script>
    <script type="text/javascript" src="{% static "copo/annotator-2.0.0-alpha.3/pkg/annotator.unsupported.js" %}"></script>
    <script type="text/javascript" src="{% static "copo/annotator-full.min.js" %}"></script>
    <script type="text/javascript" src="{% static "copo/js/annotator_ols.js" %}"></script>
    <script type="text/javascript" src="{% static "copo/js/copo_file_level_annotations.js" %}"></script>
    <script type="text/javascript" src="{% static "copo/js/copo_annotate_pdf.js" %}"></script>
    <script type="text/javascript" src="{% static "copo/js/copo_ontology_functions.js" %}"></script>



    <script>




    </script>


{% endblock %}