{% extends 'copo/base.html' %}

{% load staticfiles %}
{% load web_tags %}
{% load html_tags %}

{% block stylesheet_block %}
    <link rel="stylesheet" href="{% static 'copo/css/copo/browse_style.css' %}">

    <link rel="stylesheet" href="{% static 'copo/css/bootstrap/bootstrapValidator.css' %}">

    <!-- Generic page styles -->

    <!-- blueimp Gallery styles -->
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="{% static 'copo/css/uploader/jquery.fileupload.css' %}">
    <link rel="stylesheet" href="{% static 'copo/css/uploader/jquery.fileupload-ui.css' %}">
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript>
        <link rel="stylesheet" href="{% static 'copo/css/uploader/jquery.fileupload-noscript.css' %}">
    </noscript>
    <noscript>
        <link rel="stylesheet" href="{% static 'copo/css/jquery.fileupload-ui-noscript.css' %}">
    </noscript>
    <link rel="stylesheet" href="{% static 'copo/css/copo/collection.css' %}">
    <link rel="stylesheet" href="{% static 'copo/css/copo/study.css' %}">
	<link rel="stylesheet" href="{% static 'copo/jquery_steps/jquery.steps.css' %}">

{% endblock %}


{% block title %} ENA Study {% endblock %}

{% block tagline_block %}{% endblock %}

{% block breadcrumb_block %}
    <ol class="breadcrumb">
        <li><a href="{% url 'copo:index' %}">Home</a></li>
        <li><a title="{{ profile.title }}" href="{% url 'copo:view_profile' profile_id=profile_id %}">Profile</a></li>
        <li class="active"><a title=""
                              href="{% url 'copo:view_collection' collection_head_id=collection_head_id %}">Collection</a>
        </li>
    </ol>
{% endblock %}

{% block browse_header_block %}

    <div hidden id="hidden_attrs">

        <!-- hidden attributes required to make the page remember where it is and what its dealing with -->

        <input type="hidden" id="study_id" value="{{ study.studyCOPOMetadata.id }}"/>

        <input type="hidden" id="collection_head_id" name="collection_head_id" value="{{ collection_head_id }}">

        <input type="hidden" id="ena_collection_id" value="{{ ena_collection_id }}"/>

        <input type="hidden" id="study_type" value="{{ study.studyCOPOMetadata.studyType }}"/>

        <input type="hidden" id="attr_counter" value="1"/>

        <input type="hidden" id="sample_attr_counter" value="1"/>

        <input type="hidden" id="file_id" value=""/>

		<input type="hidden" id="file_status_check_url" value="{% url 'rest:check_data_file_status' %}"/>

		<input type="hidden" id="process_stage_url" value="{% url 'rest:process_stage' %}"/>

		<input type="hidden" id="wizard_file_id" value=""/>

        <input type="hidden" id="new_data_file_id" value=""/>

        <!-- this hidden field is to keep track of the number of upload info divs currently displaying-->
        <input type="hidden" id="upload_info_count" value="0"/>

        <input type="hidden" id="zipping_image" size="24px" value="{% static 'copo/img/ajax.gif' %}"/>

        <input type="hidden" id="hashing_image" size="24px" value="{% static 'copo/img/ajax.gif' %}"/>

        {% csrf_token %}

        <input type="hidden" id="upload_counter" value="1"/>


    </div>

    <div id="browse_header">
        <span class="blue_icon">
           <a><i class="fa fa-plus-circle" data-toggle="modal" data-target="#newStudyModal"></i></a>
        </span>
        <span class="blue_icon">
            <a><i class="fa fa-pencil-square-o"></i></a>
        </span>
        <span class="blue_icon">
            <a><i class="fa fa-trash-o"></i></a>
        </span>

        <div class="input-group input-group-sm">
            <span class="input-group-addon">
                <i class="fa fa-search"></i>
            </span>
            <input type="search" class="form-control" placeholder="Search">
        </div>
    </div>

{% endblock %}

{% block content %}

    <!--test begins-->

    <!--test ends-->

    <div class="panel-group" id="accordion">

        <!-- Panel for Study Details -->
        <div class="panel panel-default" id="panel0">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#collapse0" href="#collapse0">
                        Study Details
                    </a>
                </h4>
            </div>
            <div id="collapse0" class="panel-collapse collapse in">
                <div class="panel-body">
                    <form role="form" id="study_details_update_form" action="{% url 'copo:add_to_study' %}"
                          method="post">
                        {% csrf_token %}
                        {% for sf in ui_template.fields %}
                            <div class="form-group">
                                {{ sf.id|generate_ui_tags }}
                            </div>
                        {% endfor %}
                        <hr/>
                        <div>
                            <span id="study_details_update_img" hidden="hidden"><img
                                    src="/static/copo/img/ajax_loader1.gif"
                                    alt="Processing"></span>
                            <button id="btn_update_study_details" type="button"
                                    class="btn btn-primary text-center">Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Panel for Study Samples -->
        <div class="panel panel-default" id="panel1">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseOne" href="#collapseOne">
                        Study Samples
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div style="display: inline-block; text-indent: 0.5em;">
                        <a class="study-samples-refresh-modal" data-toggle="modal"
                           data-target="#samplesAssignModal" href="#">
                            <button type="button" class="btn btn-primary btn-xs">Assign
                                Sample
                            </button>
                        </a>
                    </div>
                    <div class="study-component-table-div" id="study_samples_table_div">
                        {{ ena_collection_id|generate_study_samples_table:study.studyCOPOMetadata.id }}
                    </div>
                </div>
            </div>
        </div>

        <!-- Panel for Study Data Files -->
        <div class="panel panel-default" id="panel7">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#collapse7" href="#collapse7">
                        Study Data Files
                    </a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div style="display: inline-block; text-indent: 0.5em;">
                        <form enctype="multipart/form-data" id="upload_0" method="POST"
                              action="/rest/receive_data_file_chunked/"
                              style="margin-right:40px">
                            {% csrf_token %}
                        <span id="upload_files_button"
                              class="btn btn-primary btn-xs fileinput-button">
                            <span>Select files...</span>
                            <input type="file" name="file"
                                   onchange="get_chunk_size(event)" multiple/>
                            <input type="hidden" name="upload_id" value=""/>
                            <input type="hidden" name="panel_ordering"
                                   value="0"/>
                            <input type="hidden" name="exp_id" value=""/>
                        </span>
                        </form>
                        <div class="file_status_label"></div>
                    </div>

                    <div id="study_data_table_div">
                        {{ ena_collection_id|generate_study_data_table:study.studyCOPOMetadata.id }}
                    </div>
                </div>
            </div>
        </div>

        <!-- Panel for Study Publications -->
        <div class="panel panel-default" id="panel2">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseTwo" href="#collapseTwo">
                        Study Publications
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div style="display: inline-block; text-indent: 0.5em;">
                        <a class="study-publications-refresh-modal" data-toggle="modal"
                           data-target="#publicationAddModal" href="#">
                            <button type="button" class="btn btn-primary btn-xs">Add
                                Publication
                            </button>
                        </a>
                    </div>
                    <span style="white-space: nowrap; margin-left: 0.5em; margin-right: 0.5em;">OR</span>

                    <div style="display: inline-block;">
                        <form role="form" id="publication_doi_form" action="{% url 'copo:add_to_study' %}"
                              method="post">
                            {% csrf_token %}
                            <div style="white-space: nowrap; margin-bottom: 0.5em;">
                                <div style="display: inline-block;">
                                    <input type="text" size="30" name="publication_doi"
                                           id="publication_doi"
                                           class="form_control input-copo"
                                           placeholder="Enter DOI or PubMed ID"
                                           value=""/>
                                </div>
                                <div style="display: inline-block;">
                                    <span id="publication_doi_img" hidden="hidden">
                                        <img src="/static/copo/img/ajax_loader1.gif" alt="Resolving...">
                                    </span>
                                    <button type="button" id="btn_publication_doi_resolve"
                                            class="btn btn-primary btn-xs">Resolve
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="study-component-table-div" id="study_publications_table_div">
                        {{ ena_collection_id|generate_study_publications_table:study.studyCOPOMetadata.id }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Panel for Study Contacts -->
    <div class="panel panel-default" id="panel3">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapseThree" href="#collapseThree">
                    Study Contacts
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse in">
            <div class="panel-body">
                <div style="display: inline-block; text-indent: 0.5em;">
                    <a class="study-contacts-refresh-modal" data-toggle="modal"
                       data-target="#contactAddModal" href="#">
                        <button type="button" class="btn btn-primary btn-xs">Add
                            Contact
                        </button>
                    </a>
                </div>
                <span style="white-space: nowrap; margin-left: 0.5em; margin-right: 0.5em;">OR</span>

                <div style="display: inline-block;">
                    <form role="form" id="contact_doi_form" action="{% url 'copo:add_to_study' %}"
                          method="post">
                        {% csrf_token %}
                        <div style="white-space: nowrap; margin-bottom: 0.5em;">
                            <div style="display: inline-block;">
                                <input type="text" size="30" name="contact_doi"
                                       id="contact_doi"
                                       class="form_control input-copo"
                                       placeholder="Enter ORCiD"
                                       value=""/>
                            </div>
                            <div style="display: inline-block;">
                                    <span id="contact_doi_img" hidden="hidden">
                                        <img src="/static/copo/img/ajax_loader1.gif" alt="Resolving...">
                                    </span>
                                <button type="button" id="btn_contact_doi_resolve"
                                        class="btn btn-primary btn-xs">Resolve
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="study-component-table-div" id="study_contacts_table_div">
                    {{ ena_collection_id|generate_study_contacts_table:study.studyCOPOMetadata.id }}
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for adding study factors -->
    <div class="modal fade" id="factorAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>

                    <div style="display: inline-block;"><h4 class="modal-title" id="myFactorModalLabel">Add Study
                        Factor</h4>
                    </div>
                    <div style="display: inline-block;"><span class="blue_icon">
                        <a href="#" data-toggle="tooltip" title="{{ "publication_add_info"|lookup_info }}">
                            <i class="glyphicon glyphicon-info-sign"></i></a></span></div>
                </div>
                <div class="modal-body">
                    <form role="form" id="add_new_factor_form" action="{% url 'copo:add_to_study' %}"
                          method="post">
                        {% csrf_token %}
                        <div>
                            {% for sf in ui_template.studyFactors.fields %}
                                <div class="form-group">
                                    {{ sf.id|generate_ui_tags }}
                                </div>
                            {% endfor %}

                            <hr/>
                            <div>
                                <button id="btn_add_new_factor" type="button"
                                        class="btn btn-primary text-center">Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>


    <!-- Modal for adding study publication -->
    <div class="modal fade" id="publicationAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>

                    <div style="display: inline-block;"><h4 class="modal-title" id="myPublicationModalLabel">Add Study
                        Publication</h4>
                    </div>
                    <div style="display: inline-block;"><span class="blue_icon">
                        <a href="#" data-toggle="tooltip" title="{{ "publication_add_info"|lookup_info }}">
                            <i class="glyphicon glyphicon-info-sign"></i></a></span></div>
                </div>
                <div class="modal-body">
                    <form role="form" id="add_new_publication_form" action="{% url 'copo:add_to_study' %}"
                          method="post">
                        {% csrf_token %}
                        <div>
                            {% for sf in ui_template.studyPublications.fields %}
                                <div class="form-group">
                                    {{ sf.id|generate_ui_tags }}
                                </div>
                            {% endfor %}

                            <hr/>
                            <div>
                                <button id="btn_add_new_publication" type="button"
                                        class="btn btn-primary text-center">Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>

    <!-- Modal for adding study contact -->
    <div class="modal fade" id="contactAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>

                    <div style="display: inline-block;"><h4 class="modal-title" id="myContactModalLabel">Add Study
                        Contact</h4>
                    </div>
                    <div style="display: inline-block;"><span class="blue_icon">
                        <a href="#" data-toggle="tooltip" title="{{ "contact_add_info"|lookup_info }}">
                            <i class="glyphicon glyphicon-info-sign"></i></a></span></div>
                </div>
                <div class="modal-body">
                    <form role="form" id="add_new_contact_form" action="{% url 'copo:add_to_study' %}"
                          method="post">
                        {% csrf_token %}
                        <div>
                            {% for sf in ui_template.studyContacts.fields %}
                                <div class='form-group'>
                                    {{ sf.id|generate_ui_tags }}
                                </div>
                            {% endfor %}

                            <hr/>
                            <div>
                                <button id="btn_add_new_contact" type="button"
                                        class="btn btn-primary text-center">Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>

    <!-- Modal for assigning study samples -->
    <div class="modal copo-modal2 fade" id="samplesAssignModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                    <div style="display: inline-block;"><h4 class="modal-title" id="myModalLabel">Assign Sample</h4>
                    </div>
                    <div style="display: inline-block;">
                        <span class="blue_icon">
                        <a href="#" data-toggle="tooltip" title="{{ "sample_assign_info"|lookup_info }}">
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </a>
                        </span>
                    </div>

                </div>
                <div class="modal-body">
                    <form role="form" id="assign_sample_form_2" action="{% url 'copo:add_to_study' %}"
                          method="post">
                        {% csrf_token %}

                        <div class="study-component-table-div" id="sample_tree_table"></div>
                        <hr/>
                        <div id="sample_assignment_warning" class="alert alert-danger" role="alert" hidden="hidden">
                            <strong>Note! &nbsp;</strong>{{ "sample_unassign_warning"|lookup_info }}
                        </div>
                        <div style="display: inline-block;">
                            <button id="submit_sample_assign_btn" type="button" class="btn btn-primary text-center">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
        <div style="display: inline-block;">
          <span class="blue_icon">
            <a href="#" data-toggle="tooltip" title="{{ " files_add_info "|lookup_info }}">
                <i class="glyphicon glyphicon-info-sign"></i>
            </a>
          </span>
        </div>
    </div>


    <!-- Modal for adding file/assay details -->
    <div class="modal fade" id="filesAssignModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" style="width:1024px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <div style="display: inline-block;">
                        <h4 class="modal-title" id="myModalLabel">Assign File Details
                        </h4>
                    </div>
                    <div style="display: inline-block;">
          <span class="blue_icon">
            <a href="#" data-toggle="tooltip" title="{{ " files_add_info "|lookup_info }}">
                <i class="glyphicon glyphicon-info-sign"></i>
            </a>
          </span>
                    </div>
                </div>
                <div class="modal-body">
                    <div id="wizard"></div>
                    <div class="modal-footer">
                        <div id="file_details_button_div" class="pull-right">
                            <div class="btn btn-primary" id="prev_wiz">Prev</div>
                            <div class="btn btn-primary" id="next_wiz">Next</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block js_block %}
    <script src="{% static 'copo/js/collection_functions.js' %}"></script>
    <script src="{% static 'copo/js/study.js' %}"></script>
    <script src="{% static 'copo/js/repojs.js' %}"></script>
    <script src="{% static 'copo/js/jquery.form.js' %}"></script>
    <script src="{% static 'copo/js/bootstrapValidator.js' %}"></script>
    <script src="{% static 'copo/js/uploader_old/vendor/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'copo/js/uploader_old/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'copo/js/uploader_old/jquery.fileupload.js' %}"></script>
    <script src="{% static 'copo/js/uploader_old/jquery.fileupload-process.js' %}"></script>
    <script src="{% static 'copo/js/uploader_old/jquery.fileupload-ui.js' %}"></script>
    <script src="{% static 'copo/js/uploader_old/ena_upload_wrapper.js' %}"></script>
    <script src="{% static 'copo/js/uploader_old/bootstrap_panel.js' %}"></script>
    <script src="{% static 'copo/js/uploader_old/upload_util.js' %}"></script>
    <script src="{% static 'copo/js/progressbar.js' %}"></script>
    <script src="{% static 'copo/jquery_steps/jquery.steps.js' %}"></script>
    <script src="{% static 'copo/bootgrid/jquery.bootgrid.js' %}"></script>
    <script src="{% static 'copo/js/study_wizard.js' %}"></script>

{% endblock %}
