{% extends 'copo/base_1col.html' %}

{% load static %}
{% load web_tags %}


{% block stylesheet_block %}
    <link rel="stylesheet" href="{% static 'copo/css/copo/browse_style.css' %}" xmlns="http://www.w3.org/1999/html">

    <link rel="stylesheet" type="text/css" href="{% static "copo/annotator-2.0.0-alpha.3/css/annotator.min.css" %} "/>
    <link rel="stylesheet" href="{% static 'copo/css/copo/copo_ontology_styles.css' %}"
          xmlns="http://www.w3.org/1999/html">

{% endblock %}






{% block title_block %} Index {% endblock %}

{% block tagline_block %}



{% endblock %}

{% block page_banner %}
    <!--
    <div class="page-header warning-banner">
        <div class="icon">
            <i class="fa fa-cloud-upload fa-4x"></i>
        </div>
        <div class="resume-text">
            <h3 class="h3">Resume Submission?</h3>
            It looks like you were in the middle of a submission. <a href="http://www.google.com"> Click here to resume</a>
        </div>

    </div>
    -->
{% endblock %}


{% block breadcrumb_block %}

{% endblock %}

{% block browse_header_block %}


{% endblock %}

{% block content %}
    {% csrf_token %}




{% endblock %}


{% block js_block %}
    <script src="{% static 'copo/js/dtol_functions.js' %}"></script>

{% endblock %}