{% extends 'copo/base_1col.html' %}

{% load static %}
{% load web_tags %}


{% block stylesheet_block %}
    <link rel="stylesheet" href="{% static 'copo/css/copo/browse_style.css' %}" xmlns="http://www.w3.org/1999/html">

    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script href="js/graphing.js"></script>
    <style> /* set the CSS */

    body {
        font: 12px Arial;
    }

    path {
        stroke: steelblue;
        stroke-width: 2;
        fill: none;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: grey;
        stroke-width: 1;
        shape-rendering: crispEdges;
    }


    .label {
        position: absolute;
    }

    circle {
        cursor: pointer;
        fill: steelblue;
    }

    </style>


{% endblock %}






{% block title_block %} Index {% endblock %}

{% block tagline_block %}



{% endblock %}

{% block page_banner %}
    <!--
    <div class="page-header warning-banner">
        <div class="icon">
            <i class="fa fa-cloud-upload fa-4x"></i>
        </div>
        <div class="resume-text">
            <h3 class="h3">Resume Submission?</h3>
            It looks like you were in the middle of a submission. <a href="http://www.google.com"> Click here to resume</a>
        </div>

    </div>
    -->
{% endblock %}


{% block breadcrumb_block %}

{% endblock %}

{% block browse_header_block %}


{% endblock %}

{% block content %}
    {% csrf_token %}




    <div id="graph"></div>



    <p class="label">Test</p>
    <!-- load the d3.js library -->
    <script src="http://d3js.org/d3.v3.min.js"></script>

    <script href="{% static '/assets/js/graphing.js' %}"></script>


{% endblock %}


{% block js_block %}

    <script>

    </script>
    <script src="{% static 'assets/js/graphing.js' %}"></script>
{% endblock %}