{% extends 'copo/base_1col.html' %}

{% load staticfiles %}
{% load web_tags %}

{% block stylesheet_block %}
    <link rel="stylesheet" href="{% static 'copo/css/copo/browse_style.css' %}" xmlns="http://www.w3.org/1999/html">

    <link rel="stylesheet" type="text/css" href="{% static "copo/annotator2.0.0-alpha/css/annotator.css" %} "/>
    <link rel="stylesheet" href="{% static 'copo/css/copo/copo_ontology_styles.css' %}"
          xmlns="http://www.w3.org/1999/html">

{% endblock %}






{% block title_block %} Index {% endblock %}

{% block tagline_block %}



{% endblock %}

{% block page_banner %}



{% endblock %}


{% block breadcrumb_block %}
    <ol class="breadcrumb">
        <li class="active"><a href="{% url 'copo:index' %}">Home</a></li>

    </ol>
{% endblock %}

{% block browse_header_block %}


{% endblock %}

{% block content %}
    {% csrf_token %}






{% endblock %}


{% block js_block %}
    <script type="text/javascript" src="{% static "copo/annotator2.0.0-alpha/annotator.min.js" %}"></script>


    <script>

        $(document).ready(function () {

        })


    </script>


{% endblock %}