{% extends "copo/base_simple.html" %}

{% load i18n %}
{% load account %}
{% load staticfiles %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}


{% block title_block %} Login {% endblock %}

{% block tagline_block %} Please login {% endblock %}

{% block content %}

    <div class="row">

        <div class="login_box">

			<!--
            <p class="lead">
                Please sign in
            </p>

            <form class="login" method="POST" action="{% url 'account_login' %}" class="generic-form">
                {% csrf_token %}


                {{ form.login }}

                {{ form.password }}

                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button class="btn btn-primary" style="width:100%; margin-bottom:5px"
                        type="submit">{% trans "Sign In" %}</button>
            </form>
            {% blocktrans with site.name as site_name %}
                <a class="pull-right" href="{{ signup_url }}">sign up</a>

            {% endblocktrans %}
            <a class="button secondaryAction"
               href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

            <div class="lead" style="margin-top:20px">{% trans 'or' %}</div>
			-->
            <a href="/accounts/orcid/login" class="btn btn-default" style="width:100%; margin-bottom:5px">

                <img src="{% static 'copo/img/orcid_logo.png' %}" style="height:50px">
                <span class="lead">Sign in with ORCID</span>

            </a>

			<!--
            <a href="/accounts/google/login" class="btn btn-default" style="width:100%; margin-bottom:5px">

                <img src="{% static 'copo/img/google_logo.png' %}" style="height:50px;">
                <span class="lead">Sign in with Google</span>

            </a>
            -->

        </div>
    </div>

    </div>
{% endblock %}

{% block js_block %}

    <script>

        $(document).ready(function () {
            $('input').addClass('form-control').wrap("<div class='form-group'>");
            //$('label').addClass('form-control')
        })

    </script>

{% endblock %}
