{% extends "base1.html" %}
{% load static %}
{% block javascript_block %}

    var image_pre = "/static/assets/img/"
    var images = [image_pre + "coast.jpg", image_pre + "countryside.jpg", image_pre + "cabbage.jpg",
    image_pre + "redadmiral.jpg", image_pre + "ladybug.jpg",
    image_pre + "ladybug1.jpg", image_pre + "hedgehog.jpg", image_pre + "otter.jpg",
    image_pre + "mist.jpg", image_pre + "lavender.jpg", image_pre + "lavender1.jpg", image_pre + "drug.jpg"]

{% endblock %}


{% block css_block %}

    .dot-color{
    color: #414141 !important;
    }

{% endblock %}


{% block baseblock %}



    <section>
        <div class="row">

            <div class="col-sm-8 col-md-8 col-lg-8 gray">
                <div class="secondary-h1-gray">{% block topbanner %}{% endblock %}</div>
                <div class="secondary-container">
                    {% block content %}



                    {% endblock %}
                </div>

            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 zero-padding">
                <div class="secondary-top-right-gray">
                    {% include "nav_dropdown.html" %}
                </div>
            </div>
        </div>

    </section>

{% endblock %}