
.wiz-info-icon {
    cursor: pointer;
    cursor: hand;
}

.copo-wiz-button {
    margin-right: 3px;
}

.wiz-info-highlight {
    padding: 4px;
    background: #262626;
    color: #f5f5f5;
    border-radius: 4px;
}

.wiz-info-panel {
    font-size: 14px;
    line-height: 150%;
    position: relative;
    top: 0;
    display: none;
}

.attributes-section {
    background: rgba(219, 232, 240, 0.2);
    border-radius: 4px !important;
    margin-top: 5px;
}

.attributes-section-header {
    background: rgba(219, 232, 240, 0.4);
    padding-right: 5px;
    margin-right: 10px;
    font-weight: 500;
}

.attributes-section-2 {
    background: rgba(232, 247, 212, 0.2);
    border-radius: 4px !important;
    margin-top: 5px;
}

.attributes-section-2-header {
    background: rgba(232, 247, 212, 0.4);
    padding-right: 5px;
    margin-right: 10px;
    font-weight: 500;
}

/*progress circle used in file upload to dropbox*/
.progress-circularum {
    height: 50px;
}

.progress-circularum > svg {
    height: 100%;
    display: block;
    background-color: inherit;
}

.progress-circularum-label {
    font-size: 12px;
    font-weight: lighter;
    font-family: "Times New Roman", Georgia, Serif;
}

.remote-row {
    margin-bottom: 6px;
    background-color: #f2f2f2;
}

/*end of progress circle styling used in file upload to dropbox*/

#data_queue_data {
    font-size: 13px;
    width: inherit;
    max-height: 400px;
    overflow-y: auto;
    z-index: 900;
    position: absolute;
    border-bottom: 2px solid #e8e8e8;
    border-left: 2px solid #e8e8e8;
    border-right: 2px solid #e8e8e8;
    border-radius: 4px;
}

.described-file-inactive {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);

    border: 1px solid transparent;
    border-radius: 4px;
    padding: 15px;
}

.described-file-active {
    background-image: linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
    background-repeat: repeat-x;
    border-color: #9acfea;
}

.swap-queue-item:hover {
    color: red;
}

/*summary table styling*/

td.summary-details-control {
    position: relative;
    cursor: pointer;
}

td.summary-details-control:before {
    position: absolute;
    font-family: 'FontAwesome';
    content: "\f055";
    color: forestgreen;
    top: 30%;
    left: 50%;

}

tr.shown td.summary-details-control {
    position: relative;
    cursor: pointer;
}

tr.shown td.summary-details-control:before {
    position: absolute;
    font-family: 'FontAwesome';
    content: "\f056";
    color: darkred;
    top: 30%;
    left: 50%;

}

span.summary-details-control {
    position: relative;
    cursor: pointer;
}

span.summary-details-control:before {
    position: absolute;
    font-family: 'FontAwesome';
    content: "\f055";
    color: #3a6c55;
    top: 10%;
    left: 50%;
    font-size: 13px;

}

div.shown span.summary-details-control:before {
    position: absolute;
    font-family: 'FontAwesome';
    content: "\f056";
    color: darkred;
    top: 10%;
    left: 50%;
    font-size: 13px;

}

/*end summary table styling*/

div.wizard-message-box {
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 5px;
    line-height: 1.2;
}

.copo-custom-modal-body {
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    padding: 17px;
    text-align: center;
    min-height: 300px;
    overflow: scroll;
}

.copo-custom-modal-message {
    /*text-align: left;*/

    border-radius: 4px;
    max-height: 500px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 5px;
    color: #333;
    font-size: 14px;
    line-height: 1.2;

}

.copo-custom-modal-title {
    font-size: 18px;
    padding-bottom: 20px;
}

.wizard-alert-options {
    padding-bottom: 10px;
}

.wizard-alert-radio {
    text-align: left;
}

ol {
    list-style-type: decimal !important;
}

.dataTables_info {
    padding-bottom: 15px !important;
}

.description-bundle-table .dataTables_info .select-item {
    font-weight: 600;
}

.description-bundle-table {
    width: 100%;
    overflow: scroll;
}

.wizard-control-message {
    font-size: 12px;
    line-height: 1.4;
    max-height: 400px;
    overflow: auto;
    background-color: rgba(234, 245, 251, 0.95);
}

.wiz-message-panel {
    border: 2px solid #3278B4;
    font-size: 12px;
}

/*remote side bar*/

.info-side-bar {
    border: 2px solid #ddd;
    background-color: #fff;
    height: 500px;
    overflow: auto;
    position: absolute !important;
    width: 500px;
    display: none;
    /*z-index: 1;*/
}

/*styling of the alert icon used in the wizard alert message*/
.wizard-alert-icon {
    font-size: 45px;
}

/*metadata rating styling*/

.itemMetadata-flag {
    background-color: transparent;
    border-radius: 0px;
    overflow: hidden;
    padding: 0;
    width: 16px;
    margin-top: 0px;
}

.itemMetadata-flag span {
    border-radius: 0px;
    display: block;
    height: 10px;
    margin-bottom: 0px;
    margin-left: 3px;
    opacity: 0.5;
    width: 10px;
}

/* rating colours */
.poor {
    background-color: rgba(204, 0, 0, 0.10);
}

.fair {
    background-color: rgba(255, 165, 0, 0.10);
}

.good {
    background-color: rgba(0, 204, 0, 0.10);
}

/*! active states */
.itemMetadata-flag span.meta-active {
    opacity: 1;
}

.itemMetadata-flag .poor.meta-active {
    background-color: #cc0000;
}

.itemMetadata-flag .fair.meta-active {
    background-color: #ffb833;
}

.itemMetadata-flag .good.meta-active {
    background-color: #009933;

}

/*wizard message control*/
.control-message-trigger {
    color: #ffffff;
    font-size: 16px;
}

/*loading animation*/
.loading {
    font-size: 15px;
    margin-top: 15%;
}

.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4, end) 1200ms infinite;
    animation: ellipsis steps(4, end) 1200ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
}

@keyframes ellipsis {
    to {
        width: 1.25em;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 1.25em;
    }
}

/*end loading*/

/*begin panels*/
.data-file-panels {
    background-image: none;
    background: rgba(230, 235, 234, 0.8) !important;
    color: rgba(0, 0, 0, 1) !important;
}

.copo-data-panel-title {
    font-size: 14px;
}

.panel-copo-data {
    color: rgba(0, 0, 0, 1);
    background-color: #ffffff;
    border-color: rgba(104, 105, 104, 0.1);
}

/*end panels*/

/*help centre*/
.help-centre-content {
    padding: 10px;
    line-height: 1.7;
    font-size: 13px;
}

#copoDataHelp.sticky {
    position: fixed;
    top: 50px;
}

#helpCentreMenu.btn,
#helpCentreMenu.btn-default {
    border-radius: 0;
    background-image: none;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    text-shadow: none;
    box-shadow: none;
}

/*end help centre*/