<div id="components_templates" style="display: none;">

    <!-- Alert templates -->
    <div class="alert-templates">
        <div class="alert alert-success alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span class="webpop-content-div alert-message"></span>
        </div>
        <div class="alert alert-info alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span class="webpop-content-div alert-message"></span>
        </div>
        <div class="alert alert-warning alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span class="webpop-content-div alert-message"></span>
        </div>
        <div class="alert alert-danger alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span class="webpop-content-div alert-message"></span>
        </div>
    </div>

    <!-- Record actions templates to be placed alongside data tables
     "description": "Provides templates for composing reusable buttons. 'btnType' can either be: "
                   "(1) 'single' - if the button's action is intended to impact just a single record (e.g., edit), "
                   "(2) 'multi' - if the buttons's action is intended to impact one or more records,"
                   "(3) 'all' - always true, and none dependent of row selections e.g., add button",
    -->
    <div class="record-action-templates">
        <div class="add_record_all tiny ui basic dtables-dbuttons  blue button copo-dt"
             data-toggle="tooltip"
             data-container="body"
             data-action="add"
             data-error-message=""
             data-btntype="all"
             title="Add new record"
             tabindex="0">
            <i class=" fa fa-plus"></i>
            <span class="action-label" style="padding-left: 3px;">Add</span>
        </div>

        <div class="describe_record_all tiny ui basic dtables-dbuttons  blue button copo-dt"
             data-toggle="tooltip"
             data-container="body"
             data-action="describe"
             data-error-message=""
             data-btntype="all"
             title="Describe"
             tabindex="0">
            <i class=" fa fa-tags"></i>
            <span class="action-label" style="padding-left: 3px;">Describe</span>
        </div>

        <div class="show_sample_source tiny ui basic dtables-dbuttons olive button copo-dt"
             data-toggle="tooltip"
             data-container="body"
             data-action="sample-source"
             data-error-message=""
             data-btntype="all"
             title="Source list"
             tabindex="0">
            <i style="font-size: 12px;" class=" glyphicon glyphicon-grain"></i>
            <span class="action-label" style="margin-left: -5px;">Source list</span>
        </div>

        <div class="btn-group description_bundle_button" style="margin-left: 10px; margin-bottom: 10px;">
            <a style="background-image: none;" class="btn btn-sm btn-default bundle-name-i" href="#"><i style="padding-right: 10px;" class="fa fa-tags fa-fw"></i></a>
            <a style="background-image: none;" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"
               href="#">
                <span class="fa fa-caret-down" title="Show bundle tasks"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a class="reload-bundle" href="#"><i style="padding-right: 5px;" class="redo alternate brown icon"></i> Reload</a></li>
                <li><a class="metadata-bundle" href="#"><i style="padding-right: 5px;" class="tags blue icon"></i> Metadata</a></li>
                <li><a class="files-in-bundle" href="#"><i style="padding-right: 5px;" class="database icon"></i>Bundle items</a></li>
                <li><a class="submit-in-bundle" href="#"><i style="padding-right: 5px;" class="mail green outline icon"></i> Submit</a></li>
                <li class="divider"></li>
                <li><a class="delete-bundle" style="color:#DB2828;" href="#"><i style="padding-right: 5px;" class="trash alternate outline icon"></i> Delete</a></li>
            </ul>
        </div>

        <div class="describe_record_multi tiny ui basic dtables-dbuttons  blue button copo-dt"
             data-toggle="tooltip"
             data-container="body"
             data-action="describe"
             data-error-message="Please select one or more datafiles to describe"
             data-btntype="multi"
             title="Describe datafiles"
             tabindex="0">
            <i class=" fa fa-tags"></i>
            <span class="action-label" style="padding-left: 3px;">Describe</span>
        </div>

        <div class="undescribe_record_multi tiny ui basic dtables-dbuttons red button copo-dt"
             data-toggle="tooltip"
             data-container="body"
             data-action="discard"
             data-error-message="Please select target datafiles to discard metadata"
             data-btntype="multi"
             title="Discard description metadata"
             tabindex="0">
            <i class=" fa fa-times"></i>
            <span class="action-label" style="padding-left: 3px;">Discard Metadata</span>
        </div>

        <div class="unbundle_record_multi tiny ui basic dtables-dbuttons red button copo-dt"
             data-toggle="tooltip"
             data-container="body"
             data-action="unbundle"
             data-error-message="Please select target datafiles to [un]bundle"
             data-btntype="multi"
             title="[Un]bundle datafiles"
             tabindex="0">
            <i class=" fa fa-tags"></i>
            <span class="action-label" style="padding-left: 3px;">[Un]bundle</span>
        </div>

        <div class="edit_record_single tiny ui basic dtables-dbuttons  green button copo-dt"
             data-toggle="tooltip"
             data-container="body"
             data-action="edit"
             data-error-message="Please select a record to edit"
             data-btntype="single"
             title="Edit record"
             tabindex="0">
            <i class=" fa fa-pencil-square-o"></i>
            <span class="action-label" style="padding-left: 3px;">Edit</span>
        </div>

        <div class="delete_record_multi tiny ui basic dtables-dbuttons  red button copo-dt"
             data-toggle="tooltip"
             data-container="body"
             data-action="delete"
             data-error-message="Please select one or more records to delete"
             data-btntype="multi"
             title="Delete records"
             tabindex="0">
            <i class=" fa fa-trash-o"></i>
            <span class="action-label" style="padding-left: 3px;">Delete</span>
        </div>

        <div class="delete_datafiles_multi tiny ui basic dtables-dbuttons  red button copo-dt"
             data-toggle="tooltip"
             data-container="body"
             data-action="delete"
             data-error-message="Please select one or more datafiles to delete"
             data-btntype="multi"
             title="Delete datafiles"
             tabindex="0">
            <i class=" fa fa-trash-o"></i>
            <span class="action-label" style="padding-left: 3px;">Delete Datafiles</span>
        </div>

        <div class="summarise_record_single tiny ui basic dtables-dbuttons  teal button copo-dt"
             data-toggle="tooltip"
             data-container="body"
             data-action="summarise"
             data-error-message="Please select a single record to summarise"
             data-btntype="single"
             title="Summarise record"
             tabindex="0">
            <i class=" fa fa-info"></i>
            <span class="action-label" style="padding-left: 3px;">Summarise</span>
        </div>
    </div>

    <!-- Datatables row Panel template -->
    <div class="datatables-panel-template">
        <div class="panel panel-dtables2">
            <div class="panel-heading" style="background-image: none; border: none;">
                <div class="row">
                    <div class="col-sm-10 col-md-10 col-lg-10 row-title">
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="pull-right row-select-icon">
                            <i class="fa fa-square-o" title="Toggle record selection"
                               style="cursor: pointer; font-size: 20px; font-weight: bold; display: block;"
                               aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>

    <div class="datatables3-panel-template">
        <div class="panel panel-dtables3">
            <div class="panel-heading" style="background-image: none; border: none;">
                <div class="row">
                    <div class="col-sm-10 col-md-10 col-lg-10 row-title">
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="pull-right row-select-icon">
                            <i class="fa fa-square-o" title="Toggle record selection"
                               style="cursor: pointer; font-size: 20px; font-weight: bold; display: block;"
                               aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">Panel Content</div>
        </div>
    </div>

    <!-- quick tour button template -->
    <button data-toggle="tooltip" title="Quick tour"
            class="big circular ui icon orange button takeatour quick-tour-template">
        <i class="icon lightbulb"></i>
    </button>

    <!-- new component button template -->
    <button data-toggle="tooltip" title="Add new record"
            class="big circular ui icon primary button new-component-template">
        <i class="icon add sign"></i>
    </button>

    <!-- describe sample button template -->
    <button data-toggle="tooltip" title="Describe samples"
            class="big circular ui icon primary button new-samples-template">
        <i class="icon plus sign"></i>
    </button>

    <!-- record tasks button -->
    <button data-toggle="tooltip" title="Record tasks" class="big circular ui icon button record-tasks-template">
        <i class="icon tasks"></i>
    </button>


    <!-- profile components button template -->
    <a data-toggle="tooltip" class="tiny ui labeled button pcomponent-button" tabindex="0" style="margin: 3px;">
        <div class="tiny ui button pcomponent-color">
            <i class="pcomponent-icon "></i>
            <span class="pcomponent-name" style="padding-left: 3px;"></span>
        </div>
        <div class="tiny ui basic pcomponent-color left pointing label">
            <span class="pcomponent-count"><i class='fa fa-spinner fa-pulse' style="font-size: 10px;"></i></span>
        </div>
    </a>

    <div class="huge ui right floated main menu pcomponents-icons-templates">
        <a class="icon item pcomponents-anchor" data-toggle="tooltip" title="" href="">
            <i class="ui icon"></i>
        </a>
    </div>

    <!-- progress bars -->
    <div class="submission-progess-wrapper" style="margin-bottom: 15px;">
        <div class="submission-progress progress" style="height:30px; margin-bottom: 5px; background-image: none;">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                 aria-valuemax="100"
                 style="width: 0%; padding-top: 5px;"></div>
        </div>
        <div class="submission-progress-status">Submission pending</div>
    </div>

    <!-- sidebar tabs -->
    <div class="copo-sidebar-templates">
        <ul class="nav nav-tabs copo-sidebar-tabs">
            <li class=" copo-sidebar-info"><a data-toggle="tab" href="#copo-sidebar-info"
                                              data-copo-tour-id="page_alert_panel">Info</a></li>
            <li class=" copo-sidebar-upload"><a data-toggle="tab" href="#copo-sidebar-upload"
                                                data-copo-tour-id="copo_data_upload_tab">Upload</a></li>
            <li class="active copo-sidebar-help"><a data-toggle="tab" href="#copo-sidebar-help"
                                                    data-copo-tour-id="page_context_help_panel" id="copo-context-help">Help</a>
            </li>
            <li class="copo-sidebar-annotate"><a data-toggle="tab" href="#copo-sidebar-annotate"
                                                 data-copo-tour-id="copo_annotation_panel">Annotate</a></li>
        </ul>

        <div class="tab-content">
            <div id="copo-sidebar-info" class="tab-pane fade copo-sidebar-info">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="panel panel-dtables">
                            <div class="panel-body collapse in" id="page_alert_panel"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="copo-sidebar-upload" class="tab-pane fade copo-sidebar-upload">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="panel panel-dtables">
                            <div class="panel-body collapse in" id="copo_data_upload_tab">
                                <div style="display: inline-block; text-indent: 0.5em; margin-top: 15px;">
                                    <form enctype="multipart/form-data" id="upload_0" method="POST"
                                          action="/rest/receive_data_file_chunked/"
                                          style="margin-right:40px">
                                        {% csrf_token %}
                                        <span data-copo-tour-id="copo_data_upload_file_button" id="upload_files_button"
                                              class="tiny ui basic teal button fileinput-button"
                                              style="background-image: none; border-color:transparent;">
                                                <span>Select files...</span>
                                                <input type="file" name="file"
                                                       onchange="get_chunk_size(event)" multiple/>
                                                <input type="hidden" name="upload_id" value=""/>
                                                <input type="hidden" name="panel_ordering"
                                                       value="0"/>
                                                <input type="hidden" name="exp_id" value=""/>
                                        </span>
                                    </form>
                                    <div class="CyVerse Files"><br/><br/>
                                        <a id="cyverse_files_link" href="{% url 'copo:agave_oauth' %}">Click to View
                                            Files in CyVerse</a>
                                        <!--<a target="_blank" href="https://agave.iplantc.org/oauth2/authorize?response_type=code&client_id=KOm9gFBPVwq6sfCMgumZRJG5j8wa&redirect_uri=http://127.0.0.1:8000/copo/agave_oauth" class="get_files">Click to View Files in CyVerse</a>-->
                                    </div>

                                    <div id="file_tree" style="visibility:hidden"></div>

                                    <div class="file_status_label" style="margin-top: 8px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="copo-sidebar-help" class="tab-pane fade in active  copo-sidebar-help">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="panel panel-dtables">
                            <div class="panel-body collapse in" id="page_context_help_panel">
                                <table id="page-context-help" class="table hover copo-noborders-table"
                                       cellspacing="0"
                                       width="100%"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="copo-sidebar-annotate" class="tab-pane fade copo-sidebar-annotate">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="panel panel-dtables">
                            <div class="panel-body collapse in" id="copo_annotation_panel">
                                <div id="annotation_panel">
                                    Type in the box below to see possible ontological descriptors for the column
                                    selected.
                                    <h3 class="h3">Selected Column:&nbsp <span class="label label-primary"
                                                                               id="selected_column_name">None Selected</span>
                                    </h3>


                                    <label for="ontology_filter_button">Choose Ontology</label>
                                    <div class="dropdown ontology_dropdown">
                                        <div class="medium ui basic button dropdown-toggle"
                                             id="ontology_filter_button"
                                             data-toggle="dropdown"
                                             aria-haspopup="true" aria-expanded="true">
                                            <span class="ontology_label">All Ontologies</span>
                                            <span class="caret"></span>
                                        </div>
                                        <ul class="dropdown-menu" id="ontology_dropdown_filter"
                                            aria-labelledby="dropdownMenu1">
                                            <a>
                                                <li class="ontology_dd_item" data-name="All Ontologies" data-id="">
                                <span class="h5">
                                    <span class="ontology_dd_name">All Ontologies</span>
                                    <br/>
                                    <small class="ontology_dd_description">Search all ontologies for terms.</small>
                                </span>
                                                </li>
                                            </a>
                                        </ul>
                                    </div>

                                    <input type="text" class="form-control ontology-field form-control-file"
                                           id="an-column"
                                           aria-describedby="fileHelp"
                                           data-autocomplete="/copo/ajax_search_ontology/999/"/>
                                </div>


                                <div id="annotation_list">

                                    <hr/>
                                    Current Annotations
                                    <table id="annotations_table">
                                        <thead>
                                        <tr>
                                            <th>Column</th>
                                            <th>Annotation</th>
                                            <th>Ontology</th>
                                            <th>Reference</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
