{% extends 'copo/base_2col.html' %}

{% load staticfiles %}
{% load web_tags_orcid %}
{% load web_tags %}

{% block stylesheet_block %}
    <link rel="stylesheet" href="{% static 'copo/css/copo/browse_style.css' %}" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="{% static 'copo/lou-multi-select-e052211/css/multi-select.css' %}"
          xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="{% static 'copo/css/copo/orcid_profile.css' %}"
          xmlns="http://www.w3.org/1999/html">
    <style>
        .group-button {
            vertical-align: middle;
            margin-left: 10px;
            cursor: pointer;
            font-size: 1.5em;
        }

        .plus-color {
            color: #0ec36b;
        }

        .minus-color {
            color: #d34e22;
        }

        .custom-header {
            text-align: center;
            padding: 3px;
            background: #f5f5f5;
            color: black;
        }

        .autocomplete {
            margin-top: 40px;
            min-width: 200px;
        }

        #users_table {
            width: 300px;
            margin-top: 40px;
        }

        .delete_cell {
            text-align: center;
            cursor: pointer;
        }

        .saving_status {
            margin-right: 25px
        }

    </style>
{% endblock %}


{% block title_block %} COPO - Groups {% endblock %}

{% block tagline_block %}


{% endblock %}

{% block browse_header_block %}
    {% csrf_token %}
    <div hidden id="hidden_attrs">
        <!-- hidden attributes  -->
        <input type="hidden" id="nav_component_name" value="group"/>
        <input type="hidden" id="user_type" value="submitters"/>
    </div>
{% endblock browse_header_block %}


{% block page_tile %}
    <div class="row">
        <div class="page-title-custom" style="margin-left:10px;">Repositories you are a Manager for
            <span class="pull-right saving_status">
                <span class="lead label label-default">Accessing</span>
                <img height="20px" src="{% static "copo/img/ajax.gif" %}"/>
            </span>
        </div>
    </div>
{% endblock page_tile %}


{% block content %}

    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <table class="table" id="repos_table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">URL</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody class=".table-hover">
                <tr>
                    <td>No Repositories Entered</td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <h3 class="h3"><span id="selected_row_label">Selected Row</span></h3>
            <hr>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div id="users_control" class="visibility: hidden">
                    <p class="lead">Submitters to this Repository</p>
                    <label for="basic-url">Search for User
                        <small>(Firstname, Lastname or Username)</small>
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control user_search_field" id="basic-url"
                               aria-describedby="basic-addon3">
                    </div>

                    <table class="table" id="users_table">
                        <tbody class=".table-hover">
                        <tr>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-info" data-toggle="modal" data-target="#add_repo_modal">Add Repository</button>

    <!-- Modal -->
    <div class="modal fade" id="add_repo_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Repository</h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="repoForm">
                        <label for="repoType">Repository Type</label>
                        <div class="form-group" id="radio_div">
                            <div class="radio">
                                <label>
                                    <input type="radio" value="dataverse" id="repoType" name="repoType" required>
                                    Dataverse
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" value="dspace" id="repoType" name="repoType" required>
                                    dSPACE
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" value="ckan" id="repoType" name="repoType" required>
                                    CKAN
                                </label>
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label for="repoName">Repository Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Name" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label for="repoUrl">Repository URL</label>
                            <input type="text" class="form-control" id="url"
                                   placeholder="URL" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label for="apikey">API Key</label>
                            <input type="text" class="form-control" id="apikey"
                                   placeholder="API Key" disabled>
                        </div>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username"
                                   placeholder="Username" disabled>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="text" class="form-control" id="password"
                                   placeholder="Password" disabled>
                        </div>
                        <div class="form-group">
                            <button id="submit_group" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block help_section %}

    <div id="copo-sidebar-help" class="tab-pane fade in active  copo-sidebar-help">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-dtables">
                    <div class="panel-body collapse in" id="page_context_help_panel">
                        <table id="page-context-help" class="table hover copo-noborders-table"
                               cellspacing="0"
                               width="100%"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block js_block %}
    <script src="{% static 'copo/js/generic_handlers.js' %}"></script>
    <script src="{% static 'copo/js/generic_handlers_ext2.js' %}"></script>
    <script src="{% static 'copo/js/copo_form_handlers.js' %}"></script>
    <script src="{% static 'copo/js/copo_repository.js' %}"></script>
    <script src="{% static 'copo/lou-multi-select-e052211/js/jquery.multi-select.js' %}"></script>
    <script src="{% static 'copo/js/bootstrapValidator.js' %}"></script>
{% endblock %}