{% extends 'copo/base_2col.html' %}


{% load staticfiles %}
{% load web_tags %}
{% load html_tags %}

{% block stylesheet_block %}

{% endblock %}


{% block title_block %} COPO People {% endblock %}

{% block tagline_block %}


{% endblock %}


{% block browse_header_block %}
    {% csrf_token %}
    <div hidden id="hidden_attrs">
        <!-- hidden attributes  -->
        <input type="hidden" id="nav_component_name" value="submission"/>
        <input type="hidden" id="custom_repo_id" value=""/>
        <input type="hidden" id="dataset_id"/>
    </div>
{% endblock %}

{% block page_tile %}
    {% include "component_navbar.html" %}
{% endblock page_tile %}

{% block content %}

    {#    test#}

    {#    test ends#}

    <!-- getting started section -->
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-offset-0 page-welcome-message" style="display: none;">
            <div class="copo-webui-popover">
                <div class="webui-popover-inner">
                    <h3 class="copo-webui-popover-title">Submissions - Getting started</h3>
                    <div class="copo-webui-popover-content">
                        <div class="webpop-content-div">
                            The submission component of a profile displays submissions created (conclusive or pending)
                            within a profile.<br/><br/>To create a submission entry, you have to first go through
                            the process of datafile description (under the datafile component).
                            A submission entry is created when the user completes the task of metadata attribution
                            (within the description wizard), and selects to initiate submission of the
                            described datafiles.
                            <br/><br/>
                            <div><strong>Quick Tour: </strong>To explore the various
                                controls available on this page, click the
                                <button class="circular mini ui icon orange button">
                                    <i class="icon lightbulb"></i>
                                </button>
                                icon.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- people table -->
    <div id="component_table_loader" class="col-sm-5 col-md-5 col-lg-5 col-xs-offset-5"
         data-copo-tour-id="submission_table"></div> <!-- div used by the quick tour agent -->
    <div class="table-parent-div">
        <table id="submission_table" class="ui celled table copo-noselect-table copo-noborders-table"
               cellspacing="0" width="100%">
        </table>
    </div>

    <div class="modal fade" id="repo_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <!-- RADIO BUTTON TO CHOOSE BETWEEN EXISTING AND NEW REPO -->
                    <div class="create_add_dataverse">
                        <label><input type="radio" name="create_dataverse_radio" value="new">&nbsp Create New Dataverse</label>
                    </div>
                    <div class="create_add_dataverse">
                        <label><input type="radio" name="create_dataverse_radio" value="existing">&nbsp Add to Existing</label>
                    </div>
                    <div class="form-group width300px">
                        <label for="create_new_dataverse">Dataverse Name</label>
                        <input type="text" class="form-control" id="create_new_dataverse">
                    </div>
                    <h5>Search by keyword</h5>
                    <div class="radio-inline">
                        <label><input type="radio" value="dataverse" checked="true"
                                      name="dataverse-radio">Dataverse</label>
                    </div>
                    <div class="radio-inline">
                        <label><input type="radio" value="dataset" name="dataverse-radio">Dataset</label>
                    </div>
                    <div class="form-inline">
                        <div class="input-group width300px  marginBottom10px">
                            <span class="input-group-addon" id="search_dv_addon">Search</span>
                            <input type="text" class="form-control" placeholder="Author, Keyword etc."
                                   id="search_dataverse" aria-describedby="search_dv_addon">
                        </div>

                        <span class="input-group" style="display: none" id="ajax-loading-div"><img
                                style="height: 24px; margin-left:5px;" src="{% static 'copo/img/loading.gif' %}"></span>


                    </div>
                    <h5>Or Search by ID</h5>
                    <div class="input-group width300px">
                        <!--<label for="search_dataverse">Search by Dataverse ID</label>-->
                        <span class="input-group-addon" id="search_dv_id_addon">Dataverse ID</span>
                        <input type="text" class="form-control" id="search_dataverse_id"
                               aria-describedby="search_dv_id_addon">

                    </div>


                    <!--<div style="margin-top:30px" class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                    </div>-->

                    <div id="table-div-dataverse" class="table table-striped table-bordered"
                         style="padding: 10px;width:100%">

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block help_section %}


{% endblock %}


{% block js_block %}
    <script src="{% static 'copo/js/generic_handlers.js' %}"></script>
    <script src="{% static 'copo/js/generic_handlers_ext2.js' %}"></script>
    <script src="{% static 'copo/js/copo_form_handlers.js' %}"></script>
    <script src="{% static 'copo/js/copo_submission_2.js' %}"></script>
    <script src="{% static 'copo/js/repository_inspection.js' %}"></script>
{% endblock %}
