{% extends 'copo/base_1col.html' %}

{% load staticfiles %}
{% load web_tags_orcid %}

{% block stylesheet_block %}
    <link rel="stylesheet" href="{% static 'copo/css/copo/browse_style.css' %}" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="{% static 'copo/css/copo/orcid_profile.css' %}"
          xmlns="http://www.w3.org/1999/html">
{% endblock %}


{% block title_block %} COPO - Groups {% endblock %}

{% block tagline_block %}


{% endblock %}


{% block content %}

    CONTENT

{% endblock %}


{% block js_block %}
{% endblock %}