{% extends 'copo/base_1col.html' %}

{% load staticfiles %}
{% load web_tags %}
{% load html_tags %}

{% block stylesheet_block %}
    <link rel="stylesheet" href="{% static 'copo/css/copo/browse_style.css' %}" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="{% static 'copo/css/copo/submission.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}


{% block title_block %} COPO Submission {% endblock %}

{% block tagline_block %}

{% endblock %}


{% block browse_header_block %}
    {% csrf_token %}
    <div hidden id="hidden_attrs">
        <!-- hidden attributes  -->
        <input type="hidden" id="nav_component_name" value="submission"/>
    </div>
{% endblock %}

{% block page_tile %}
    {% include "component_navbar.html" %}
{% endblock page_tile %}


{% block content %}

    <input type="hidden" id="profile_id" value="{{ profile_id }}"/>

    <table id="submission_table">
        <thead>
        <tr>
            <th>
                Type
            </th>
            <th>
                Files / Accessions
            </th>
            <th>
                Created
            </th>
            <th>
                Status
            </th>
            <th>
                Uploaded Percentage
            </th>
            <th>
                Upload Speed
            </th>
            <th>
                Send
            </th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>


    <!-- files and accessions modal -->
    <div class="modal fade" id="accessionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Files and Accessions in Submission</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="file_accession_panel" class="modal-body">



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Export</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block js_block %}
    <script src="{% static 'copo/js/generic_handlers.js' %}"></script>
    <script src="{% static 'copo/js/copo_submission_2.js' %}"></script>
    <script src="{% static 'copo/chart_js/Chart.js' %}"></script>

{% endblock %}
