{% extends 'copo/base_2col.html' %}

{% load staticfiles %}
{% load web_tags %}
{% load html_tags %}

{% block stylesheet_block %}
    <link rel="stylesheet" href="{% static 'copo/css/copo/browse_style.css' %}" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="{% static 'copo/css/copo/copo_autocomplete.css' %}"
          xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="{% static 'copo/handsontable/handsontable.full.css' %}"
          xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="{% static 'copo/css/copo/datafile.css' %}" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="{% static 'copo/css/copo/copo_annotations.css' %}" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="{% static 'copo/css/copo/copo_ontology_styles.css' %}"
          xmlns="http://www.w3.org/1999/html">
{% endblock %}


{% block title_block %} COPO Annotations {% endblock %}

{% block tagline_block %}

{% endblock %}


{% block browse_header_block %}
    {% csrf_token %}
    <div hidden id="hidden_attrs">
        <!-- hidden attributes  -->
        <input type="hidden" id="nav_component_name" value="annotation"/>

    </div>

{% endblock %}

{% block page_tile %}
    {% include "component_navbar.html" %}
{% endblock page_tile %}



{% block content %}

    <!-- table data -->
    <table id="annotation_table" class="table table-striped table-bordered order-column hover copo-table-header"
           cellspacing="0" width="100%">
    </table>

    <div class="row">
        <div id="annotation_content"/>
    </div>

    <div class="row">
        <div id="annotation_ss" class="col-lg-12 col-md-12 col-sm-12"/>
    </div>




    <!-- modal to pick file to annotate -->
    <div id="file_picker_modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Select File to Annotate</h4>
                </div>
                <div class="modal-body">

                    <!-- Modal Content -->
                    <form id="annotate_form">

                        <div class="form-group">
                            <label for="InputFile">Select File</label>
                            <input type="file" class="form-control-file" id="InputFile"
                                   aria-describedby="fileHelp">
                            <small id="fileHelp" class="form-text text-muted">Please select the file you would like to
                                annotate.
                            </small>
                            <div style="margin-top: 10px" class="dropdown" id="file_type_dropdown">

                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                                        id="file_type_button">
                                    File Type
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Spreadsheet</a></li>
                                    <li><a href="#">PDF Document</a></li>
                                </ul>
                                <label for="file_type_dropdown" id="file_type_dropdown_label">No File Selected</label>
                            </div>

                            <input type="hidden" id="file_type" name="file_type"/>
                            <div class="pull-right processing_div"> Processing... <img height="64px"
                                                                                       style="margin-top: -40px"
                                                                                       src="{% static "copo/img/freeman.gif" %}"/>
                            </div>

                        </div>
                    </form>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="form_submit_btn">Submit</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->





{% endblock %}

{% block help_section %}

    <!-- dynamically populated side panels defined in components_template.html -->

{% endblock %}

{% block js_block %}

    <script>


        $(document).ready(function () {
            $('.global-page-title').append('<span class="ajax_loading_div pull-right"><img style="display: inline" src="{% static 'copo/img/preload.gif' %}" class="ajax_loading_img"/> Saving ...</span>')
        })

    </script>
    <script type="text/javascript" src="{% static "copo/annotator-2.0.0-alpha.3/pkg/annotator.js" %}"></script>
    <script type="text/javascript" src="{% static "copo/annotator-2.0.0-alpha.3/pkg/annotator.document.js" %}"></script>
    <script type="text/javascript" src="{% static "copo/js/annotator_extension.js" %}"></script>
    <script type="text/javascript" src="{% static 'copo/js/generic_handlers.js' %}"></script>
    <script type="text/javascript" src="{% static 'copo/js/generic_handlers_ext2.js' %}"></script>
    <script type="text/javascript" src="{% static 'copo/js/copo_form_handlers.js' %}"></script>
    <script type="text/javascript" src="{% static 'copo/js/setup_annotator.js' %}"></script>
    <script type="text/javascript" src="{% static 'copo/js/copo_annotations.js' %}"></script>
    <script type="text/javascript" src="{% static 'copo/handsontable/handsontable.full.js' %}"></script>
    <script type="text/javascript" src="{% static 'copo/js/copo_ontology_functions.js' %}"></script>

{% endblock %}
