{% extends 'copo/base_1col.html' %}

{% load staticfiles %}
{% load web_tags %}

{% block stylesheet_block %}
    <link rel="stylesheet" href="{% static 'copo/css/copo/index.css' %}">

{% endblock %}


{% block title_block %} Index {% endblock %}

{% block tagline_block %}


{% endblock %}

{% block browse_header_block %}
    {% csrf_token %}
    <div hidden id="hidden_attrs">
        <!-- hidden attributes  -->
        <input type="hidden" id="view_copo_profile_url" value="{% url 'copo:view_copo_profile' profile_id='999' %}"/>

        <input type="hidden" value="{% url 'copo:copo_publications' profile_id='999' %}" name="publication_url"
               id="publication_url"/>
        <input type="hidden" value="{% url 'copo:copo_data' profile_id='999' %}" name="datafile_url"
               id="datafile_url"/>
        <input type="hidden" value="{% url 'copo:copo_samples' profile_id='999' %}" name="sample_url"
               id="sample_url"/>
        <input type="hidden" value="{% url 'copo:copo_submissions' profile_id='999' %}" name="submission_url"
               id="submission_url"/>
        <input type="hidden" value="{% url 'copo:copo_people' profile_id='999' %}" name="person_url" id="person_url"/>
        <input type="hidden" value="{% url 'copo:copo_annotation' profile_id='999' %}" name="annotation_url" id="annotation_url"/>

    </div>
{% endblock browse_header_block %}

{% block page_tile %}
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <span class="navbar-brand page-title-custom">Work Profiles</span>
            </div>

            <div class="collapse navbar-collapse quick-component-create">
                <ul class="nav navbar-nav">
                    <li class="active quick-component-create new-form-call" data-component="profile">
                        <a style="color:#000 !important;" href="#">
                            <span>
                                <i class="fa fa-plus-circle"></i>
                                <span class="icon_text">New Profile</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock page_tile %}

{% block content %}
    <div class="profile-components-copy" style="display: none;">
        <div class="componentTemplateElements" style="display: none;">
            <!-- add button template -->
            <a class="component-btns index-form-call componentAddElement"
               href="#"
               data-component=""
               data-profile="">
                <i data-toggle="tooltip" title=""
                   class="fa fa-plus-circle fa-fw"
                   style="color:#ffffff;"
                   aria-hidden="true"></i>
            </a>

            <!-- inspect button template -->
            <a class="component-btns componentInspectElement" href="#">
                <i data-toggle="tooltip" title="Inspect"
                   class="fa fa-eye fa-fw"
                   style="color:#ffffff;"
                   aria-hidden="true"></i>
            </a>

            <!-- component-item template -->
            <div class="col-sm-2 col-md-2 col-lg-2 component-col-left component-col-right componentItemElement">
                <div class="component-item">
                    <div class="component-item-header">
                        <div>
                            <i class="copo-components-icons"></i>
                            <span style="color: #ffffff;" class="icon_text"></span>
                        </div>
                    </div>
                    <div class="component-item-body">
                        <div style="background-color: transparent; font-size: 18px; font-weight: bold;"
                             class="badge component-item-badge"></div>
                        <div class="action-items" style="padding-top:20px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="panel panel-default profile-details">
                    <div class="panel-heading">
                        <a href="#" class="profile-title-link" title="profile home">
                            <span class="profile-title" style="font-size: 16px; color: #4c49a0;"></span>
                        </a>
                    </div>
                    <div class="panel-body profile-description" style="max-height: 100px; overflow-y: scroll;"></div>
                    <div class="panel-footer profile-date"></div>
                </div>
            </div>
            <div class="col-sm-9 col-md-9 col-lg-9">
                <div class="row components-section">
                    <!--Blank-->
                    {#                    <div class="col-sm-2 col-md-2 col-lg-2"></div>#}
                    <!--Datafiles-->

                    <!--Samples-->

                    <!--Submissions-->

                    <!--Publications-->

                    <!--People-->

                </div>
            </div>
        </div>
    </div>

    <table id="copo_profiles_table"
           cellspacing="0" width="100%">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
    </table>

{% endblock %}


{% block js_block %}
    <script src="{% static 'copo/js/generic_handlers.js' %}"></script>
    <script src="{% static 'copo/js/copo_form_handlers.js' %}"></script>
    <script src="{% static 'copo/js/index.js' %}"></script>
{% endblock %}
