/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */



/*=======================================
    GENERAL STYLES
==================================================*/
body {
    font-family:'Open Sans', sans-serif;
    font-size:14px;
    background-image: url('/static/copo/img/cornfield.jpg');
}

.nav a {
    color: white !important;
    font-weight: bold;
}
.navbar-header a {
    color:#ffffff !important;
    padding-right:50px;
    padding-top:10px
}

.text-center {
    text-align:center;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Open Sans', sans-serif;
}

h1 {
    line-height:80px;
    font-weight:900;
    font-size:60px;
    padding:30px 20px 10px 20px;
}
h2 {
    line-height:40px;
    font-weight:900;
    font-size:30px;
     padding:0 20px 10px 0;

}
h3 {
    line-height:30px;
    padding-bottom:20px;
}
h4 {

}

.p_position{
    color:#cdcdcd
}

p {
    font-weight:300;
    line-height:30px;

}

.space-free {
    height:100px;
}


section {
    padding-top:20px;
    padding-bottom:20px;
}

/*=======================================
    sections
==================================================*/
.color-green {

    background-image: url('/static/copo/img/wheat.jpg')!important;
}
.color-white {
   background-color: #fff !important;
}

.person{
    margin-top:10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: white;
}
.person img{
    width: 100%;

    padding: 3px;
}

.color-dark {
   background-color:#696969!important;
}

.color-light {
   background-color:#E9E9E9!important;
}

/*=======================================
    HEADER STYLES
==================================================*/
.head-main {
    font-size:80px !important;
    font-weight:900!important;
    color:#fff!important;
    padding:150px 20px 10px 20px;
}
.head-sub-main {
    font-size:40px !important;
    font-weight:600!important;
    color:white !important;
    padding:5px 20px 300px 20px;
}


/*=======================================
    NAVIGATION STYLES
==================================================*/


nav {
	position:absolute;
	width: 100%;
    background: #fff;
    z-index:99;
    padding-right: 50px
}

nav li{
    padding-top:15px
}
.fixed {
	position: fixed;
	top: 0;
	min-height: 50px;
	z-index: 99;
}

.navbar-inverse {
    background-color: rgba(107, 186, 80, 0);
    border-color: white;
    min-height: 80px;
    padding-top: 10px;
    font-size: 20px;
    padding-bottom:20px;

}
.navbar-brand {

font-size: 30px;
    padding-left:45px
}

/*=======================================
    WORK FLOW STYLES
==================================================*/


.work-div {
	width: 100%;
	border: 0;
    padding:20px;
    margin-bottom:30px;
}
/*=======================================
    CONTACT STYLES
==================================================*/

#social-icon a {
    color:#616161!important;
    margin-right:10px;
}
.contact-cls {
    font-size:20px;
    line-height:40px;
}
.cnt {
width: 100%;
min-height: 350px;
border: 1px solid #e1e1e1;
}
/*=======================================
    FOOTER STYLES
==================================================*/


#footer {
    background-color:#000;
    color:#fff;
    padding:20px 50px 20px 50px;
    text-align:right;
}

.header-img{
    width:800px;
    padding-top:30px;
}